<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Keystone" version="5.4.0" targetFramework="net45" />
  <package id="Keystone.Clockwork" version="5.4.0" targetFramework="net45" />
  <package id="Keystone.Clockwork.To.Net" version="5.4.0" targetFramework="net45" />
  <package id="keystoneengine.csharp" version="0.9.1.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" />
</packages>